.form-avatar {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    height: 120px;
    display: block;
    margin: 0 auto;
  }
}

.required:after {
  content:" *";
  color: red;
}
.first-one {
  padding:12px;
}
.first-one span{
  font-size: 20px;
  font-weight: 500;
}
.second-one {
  background-color:  transparent;
  border:none
}
.new-one {
  background-color: #fff;
  font-size: 17px;
  background-color: transparent;
  border: transparent;
}
.second-one svg {
  margin-left: 5px;
}
.third-one {
  padding:12px;
  padding-top: 0;
  padding-left: 25px;
}
.fourth-one p {
  font-size: 20px;
  font-weight: 500;
}